@charset "utf-8";
/* CSS Document */
 
.Textfelt{
        background-color: #f7eb05;
        padding-top: -1%;
        padding-right: 0%;
        padding-bottom: 0%;
        padding-left: 0%;
        width: 70%;
        height: 2000px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        }
 
.Hovedfelt{
        visibility: hidden;
        }
 
.header{
        background-color: #005394;
        height: 100px;
        width: 70%;
        margin-top: -1%;
        z-index:4;
       
       
       
        }
.bannerr{
        height: 100px;
        margin-top: -1%;
        z-index:3;
        border-top: 1px solid black;
        }

.sliderss{
  width: 70%;
}

.testcunt{
  background-color: white;
  height: 400px;
  margin-left: 40px;
  width: 300px;
  margin-top: 20px;
}

.menyy{
  width: 150px;
  height: 2000px;
  background-color: #f7eb05;
  z-index: 1000000;
  margin-top: -2002px;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
/*Produktfelt*/
.products{
  background-color: white;
  height: 2000px;
  width:900px;
  z-index: 200000;
  margin-left: 15%;
  border:1px solid black;
}

/*style the main menu*/
.myMenu {
  margin:0;
  padding:0;

}

.myMenu li {
  list-style:none;
  float:left;
  font:12px Arial, Helvetica, sans-serif #111;
}

.myMenu li a:link, .myMenu li a:visited {
  display:block;
  text-decoration:none;
  background-color:#f7eb05;
  padding: 0.5em 2em;
  margin:0;
  border: 1px solid black;
  border-bottom: 0;
  border-left: 0;
  border-right-height:110%;
  color:black;
  position:relative;
}

.myMenu li a:hover {
  background-color:#005395;  
}

/*style the sub menu*/
.myMenu li ul {
  position:absolute;
  visibility:hidden;
  margin:0;
  padding:0;

}

.myMenu li ul li {
  display:inline;
  float:none;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
  background-color:#f7eb05;
  width:180px;
  z-index: 100000;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.myMenu li ul li a:hover {
  background-color:#005394;  
}
    

.menybar{
  background-color: #f7eb05;
  height: 36px;
  width: 70%;
  margin-left: 15%;
  margin-top: 0px;
  
  margin-top-height:20px;

}




/*slideshow*/

#slider {
  position: relative;
  overflow: hidden;
  margin-left: 15%;
  border-top: 1px solid black;
  
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 82.3%;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: -200px;
  margin-left: -3.8%;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 32%;
  z-index: 999;
  display: block;
  padding: 3% 2%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.6;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  -webkit-transition: all 0.2s ease;
    opacity: 1;

}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}


#checkbox {
  margin-left: 370%;
  margin-top: -2200px;
  padding: 0;
  position: absolute;
}

/*Knapper*/
body{
  font-family:'Open Sans', sans-serif;
  background:#000000;
  width:90%;
  margin:0 auto;
  padding:2em 0 6em;
}
h1:before{
  content: "// ";
}
h1{
  font-size:1em;
  color:#00FFCC;
  text-transform:lowercase;    
}
.wrapper{
  margin:1em 0;
 
}
a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;

  transition:0.5s color ease;
        text-decoration:none;
        color:white;
        font-size:1em;
 
}
a:hover{
        color:#fff200;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:3px;
  height:0.15rem;
  width:0;
  background:white;
}
 
a.third:after,a.sixth:before,a.sixth:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
 
a.before:hover:before,a.after:hover:after{
  width:100%;
}
 
.Hjem {
        margin-left:80%;
        height: 32px;
        width: auto;
        z-index:1;
  position: absolute;
  left: -350px;
  top: 20px;
}

.Kundeservice {
        margin-left:82%;
        height: 32px;
        width: 57.5px;
        z-index:1;
  position: absolute;
  left: 20px;
  top: 0px;
}

.Handlekurv {
        margin-left:65%;
        height: 32px;
        width: auto;
        z-index:1;
  position: absolute;
  left: 30px;
  top: 0px;
}

.Login {
        margin-left:80%;
        height: 32px;
        width: 40px;
        z-index:1;
  position: absolute;
  left: 30px;
  top: 0px;
  
 } 
  
/*Searchbar*/

#tfheader{
		margin-left: -95px;
    margin-top: 10%;
		
	}
	
	#tfnewsearch{
		margin-left: -34%;
		
	}
	.tftextinput{
		margin: 0;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
    margin-left: -40%;
    width: 250px;
	}
	.tfbutton {
		margin: 0;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
    margin-left: -138%;

	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
    margin-left: -30%;
  

	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}

